doctype strict

html(xmlns="http://www.w3.org/1999/xhtml")

  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Newsletter

    link(rel="stylesheet", href=(baseUrl || '') + "/fonts/font/styles.css")

    if previewOnly
      style #{style}

  body(itemscope, itemtype="http://schema.org/EmailMessage")

    include includes/body.pug
